*.yuv
*.dat
*.dcp

vhes/.Xil
vhes/vhes.hw
vhes/vhes.gen
vhes/vhes.sim
vhes/vhes.runs
vhes/vhes.cache
vhes/vhes.tempFiles
vhes/xgui

vhes_core/.Xil
vhes_core/vhes_core.hw
vhes_core/vhes_core.gen
vhes_core/vhes_core.sim
vhes_core/vhes_core.runs
vhes_core/vhes_core.cache
vhes_core/vhes_core.tempFiles

vhes_server/vhes_server/bin
vhes_server/vhes_server/obj