*.dcp
*.rgb

vhes/.Xil
vhes/vhes.cache
vhes/vhes.gen
vhes/vhes.hw
vhes/vhes.runs
vhes/vhes.sim
vhes/vhes.temp_files
vhes/vhes.vitis/.metadata
vhes/vhes.vitis/.vscode
vhes/vhes.vitis/vhes/_ide
vhes/vhes.vitis/vhes/Debug

vhes_server/.vs
vhes_server/vhes_server/bin
vhes_server/vhes_server/obj

vhes_software_encoder/*.yuv
vhes_software_encoder/*.hevc
vhes_software_encoder/*.csv
vhes_software_encoder/*.dat